<%= form_for(laboratory) do |f| %>
  <% if laboratory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(laboratory.errors.count, "error") %> prohibited this laboratory from being saved:</h2>

      <ul>
      <% laboratory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :name %>
    <%= f.text_field(:name, class:"form-control", placeholder:"Name") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :user_id %>
    <%= f.text_field(:user_id, class:"form-control", placeholder:"User") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :department_id %>
    <%= f.text_field(:department_id, class:"form-control", placeholder:"Department") %>
  </div>

  <div class="btn-default btn-lg">
    <%= f.submit %>
  </div>
<% end %>
