<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('content.laboratories.index.name')%>:</strong>
  <%= @laboratory.name %>
</p>

<p>
  <strong><%= t('content.laboratories.index.user')%>:</strong>
  <% if !@laboratory.user.nil? %> <%= @laboratory.user.name %>
      <%end%>
</p>

<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>
