<% @users.each do |user| %>
  <div id="user_<%=user.id%>" class="users">
    <p> <%=user.name%> </p>
    <p> <%=user.email%> </p>
    <p> <%=user.laboratory.name%> </p>
      <%= form_tag('/approve') do %>
        <%= hidden_field_tag 'user_id', user.id %>
        <% if user.approved %>
          <%= submit_tag 'desaprove!' %>
        <% else %>
          <%= submit_tag 'aprove!' %>
        <% end %>
      <% end %>
  </div>
<% end %>
