<% @users.each do |user| %>
  <tr class="users">
    <td> <%=user.name%> </td>
    <td> <%=user.email%> </td>
    <td> <%=user.laboratory.department.center.name%> </td>
    <td> <%=user.laboratory.department.name%> </td>
    <td> <%=user.laboratory.name%> </td>
    <td> <%=user.phone_ext%> </td>
    <td>
      <%= form_tag('/approve') do %>
        <%= hidden_field_tag 'user_id', user.id %>
        <% if user.approved %>
          <%= submit_tag 'desaprove!', class: 'btn btn-xs btn-desapprove' %>
        <% else %>
          <%= submit_tag 'aprove!', class: 'btn btn-xs btn-approve ' %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
