<%= form_for(center) do |f| %>
  <% if center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(center.errors.count, "error") %> prohibited this center from being saved:</h2>

      <ul>
      <% center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :name %>
    <%= f.text_field(:name, class:"form-control", placeholder:"Name") %>
  </div>

  <div class="btn-default btn-lg">
    <%= f.submit %>
  </div>
<% end %>
