
<h1><%= t('headers.centers.index') %></h1>


<div class="row">
  <div class="well">
    <div class="table-responsive">
      <table class="table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t('content.centers.index.name')%></th>
          </tr>
          </thead>
          <% @centers.each do |center| %>
              <tr class>
                <td> <%=center.name%> </td>
                <td>
                  <%= link_to edit_center_path(center) do %>
                      <span class="glyphicon glyphicon-pencil"/>
                  <% end %>
                </td>
                <td>
                  <%= link_to center, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="glyphicon glyphicon-trash"/>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
      </table>
    </div>
  </div>
</div>


<div class="row">
    <div class="pull-right">
      <%= button_to 'Cadastrar Centro', new_center_path, method: :get, class: 'btn btn-default' %>
    </div>
</div>
