<%= form_for(department) do |f| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :name %>
    <%= f.text_field(:name, class:"form-control", placeholder:"Name") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :center_id %>
    <%= f.text_field(:center_id, class:"form-control", placeholder:"Center")  %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :chief %>
    <%= f.text_field(:chief, class:"form-control", placeholder:"Chief") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :email %>
    <%= f.text_field(:email, class:"form-control", placeholder:"Email") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :phone_ext %>
    <%= f.text_field(:phone_ext, class:"form-control", placeholder:"Ramal") %>
  </div>

  <div class="btn-default btn-lg">
    <%= f.submit %>
  </div>
<% end %>
