<h1><%= t('headers.departments.index') %></h1>


<div class="row">
  <div class="well">
    <div class="table-responsive">
      <table class="table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= t('content.departments.index.name')%></th>
            <th><%= t('content.departments.index.center')%></th>
            <th><%= t('content.departments.index.chief')%></th>
            <th><%= t('content.departments.index.email')%></th>
            <th><%= t('content.departments.index.phone_ext')%></th>
          </tr>
          </thead>
          <% @departments.each do |department| %>
              <tr class>
                <td> <%=department.name%> </td>
                <td> <%=department.center.name%> </td>
                <td> <%=department.chief%> </td>
                <td> <%=department.email%> </td>
                <td> <%=department.phone_ext%> </td>
                <td>
                  <%= link_to edit_department_path(department) do %>
                      <span class="glyphicon glyphicon-pencil"/>
                  <% end %>
                </td>
                <td>
                  <%= link_to department, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="glyphicon glyphicon-trash"/>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="col-md-6">
      <%= button_to 'Cadastrar Departamento', new_department_path, method: :get, class: 'btn btn-default btn-lg' %>
    </div>
  </div>
</div>
