<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Center:</strong>
  <%= @department.center %>
</p>

<p>
  <strong>Chief:</strong>
  <%= @department.chief %>
</p>

<p>
  <strong>Email:</strong>
  <%= @department.email %>
</p>

<p>
  <strong>Phone ext:</strong>
  <%= @department.phone_ext %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
