<%= form_for(sediment) do |f| %>
  <% if sediment.errors.any? %>
    <div id="error_explanation">
      <h2><%= sediment.errors.count.to_s + ((sediment.errors.count == 1)? " erro" : " errors")%> </h2>

      <ul>
      <% sediment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :composition %>
    <%= f.text_field :composition %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :data_created %>
    <%= f.date_select :data_created, prompt: { day: 'Select o dia', month: 'Select o mês', year: 'Selecione o ano' } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
