<%= form_for(sediment) do |f| %>
  <% if sediment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sediment.errors.count, "error") %> prohibited this sediment from being saved:</h2>

      <ul>
      <% sediment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :composition %>
    <%= f.text_field(:composition, class:"form-control", placeholder:"Composition") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :res_type %>
    <%= f.text_field(:res_type, class:"form-control", placeholder:"Tipo") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :weight %>
    <%= f.text_field(:weight, class:"form-control", placeholder:"Weight") %>
  </div>

  <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.label :volume %>
    <%= f.text_field(:volume, class:"form-control", placeholder:"Volume") %>
  </div>

  <div class="btn-default btn-lg">
    <%= f.submit %>
  </div>
<% end %>
