<div class="row" style="margin-bottom: 20px">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-6">
        <%= button_to 'Cadastrar Resíduo', new_sediment_path, class: 'btn btn-default btn-lg' %>
      </div>
      <div class="col-md-6">
        <%= button_to 'Imprimir', new_sediment_path, class: 'btn btn-default btn-lg' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="well">
    <div class="table-responsive">
    <table class="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('content.sediments.index.composition')%></th>
            <th><%= t('content.sediments.index.weight')%></th>
            <th><%= t('content.sediments.index.type')%></th>
            <th><%= t('content.sediments.index.recipient_type')%></th>
            <th><%= t('content.sediments.index.stock_location')%></th>
            <th><%= t('content.sediments.index.volume')%></th>
            <th><%= t('content.sediments.index.local')%></th>
            <th><%= t('content.sediments.index.data')%></th>
          </tr>
        </thead>
        <% @sediments.each do |sediment| %>
          <tr class>
            <td> <%=sediment.composition%> </td>
            <td> <%=sediment.weight%> </td>
            <td> <%=sediment.res_type%> </td>
            <td> <%=sediment.recipient_type%> </td>
            <td> <%=sediment.stock_location%> </td>
            <td> <%=sediment.volume%> </td>
            <td> <%=sediment.local%> </td>
            <td> <%=sediment.data_registered%> </td>
            <td>
              <%= link_to edit_sediment_path(sediment) do %>
                <span class="glyphicon glyphicon-pencil"/>
              <% end %>
            </td>
            <td>
              <%= link_to sediment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"/>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </table>
  </div>
  </div>
</div>
