
<div class="row col-md-12 center-block">
  <h2><%= t('headers.sediments.index') %></h2>
</div>
<div class="row col-md-12 center-block">
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-2 pull-right">
        <%= form_tag(sediments_collect_path, class: 'form') do %>
          <%= button_tag 'Coletar', class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="col-md-4 pull-right" style="padding-top: 8px">
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
          aria-valuenow="<%= @collect.total_weight_percent %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @collect.total_weight_percent %>%">
            <%= @collect.total_weight %> kg/ 7000.0 kg
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row col-md-12 center-block">
  <div class="well">
    <div class="table-responsive">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= t('content.sediments.index.composition')%></th>
            <th><%= t('content.sediments.index.weight')%></th>
            <th><%= t('content.sediments.index.res_type')%></th>
            <th><%= t('content.sediments.index.recipient_type')%></th>
            <th><%= t('content.sediments.index.stock_location')%></th>
            <th><%= t('content.sediments.index.volume')%></th>
            <th><%= t('content.sediments.index.local')%></th>
            <th><%= t('content.sediments.index.date_registered')%></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sediments.each do |sediment| %>
            <tr>
              <td> <%=sediment.composition%> </td>
              <td> <%=sediment.weight%> </td>
              <td> <%=sediment.res_type%> </td>
              <td> <%=sediment.recipient_type%> </td>
              <td> <%=sediment.stock_location%> </td>
              <td> <%=sediment.volume%> </td>
              <td> <%=sediment.laboratory.name%> </td>
              <td> <%=sediment.data_registered%> </td>
              <td>
                <%= link_to edit_sediment_path(sediment) do %>
                  <span class="glyphicon glyphicon-pencil"/>
                <% end %>
                <%= link_to sediment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"/>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% unless current_user.admin? %>
          <%= button_to 'Cadastrar resíduo', new_sediment_path, method: :get, class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <% if current_user.admin? %>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-relatorio">
            Gerar relatório
          </button>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-planilha">
            Gerar planilha
          </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal relatorio -->
<div class="modal fade" id="modal-relatorio" tabindex="-1" role="dialog" aria-labelledby="modalRelatorio">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Relatório dos resíduos</h4>
      </div>
      <%= form_tag(report_path, class: 'form') do %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon">Inicio</span>
                <%= date_field_tag :initial_date, Date.today - 10.days, class: 'form-control'%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon">Fim&nbsp;&nbsp;&nbsp;</span>
                <%= date_field_tag :final_date, Date.today, class: 'form-control'%>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <%= button_tag 'Gerar relatório', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal planilha -->
<div class="modal fade" id="modal-planilha" tabindex="-1" role="dialog" aria-labelledby="modalPlanilha">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Planilha dos resíduos</h4>
      </div>
      <%= form_tag(spreadsheet_path, class: 'form') do %>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon">Inicio</span>
                <%= date_field_tag :initial_date, Date.today - 10.days, class: 'form-control'%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group input-group">
                <span class="input-group-addon">Fim&nbsp;&nbsp;&nbsp;</span>
                <%= date_field_tag :final_date, Date.today, class: 'form-control'%>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <%= button_tag 'Gerar planilha', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
