<p id="notice"><%= notice %></p>

<h1><%= t('headers.sediments.index')%></h1>

<table>
  <thead>
    <tr>
      <th><%= t('content.sediments.index.composition')%></th>
      <th><%= t('content.sediments.index.weight')%></th>
      <th><%= t('content.sediments.index.type')%></th>
      <th><%= t('content.sediments.index.local')%></th>
      <th><%= t('content.sediments.index.data')%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sediments.each do |sediment| %>
      <tr>
        <td><%= sediment.composition %></td>
        <td><%= sediment.weight %></td>
        <td><%= sediment.res_type %></td>
        <td><%= sediment.local %></td>
        <td><%= sediment.data_registered %></td>
        <td><%= link_to 'Show', sediment %></td>
        <td><%= link_to 'Edit', edit_sediment_path(sediment) %></td>
        <td><%= link_to 'Destroy', sediment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sediment', new_sediment_path %>
