
<div class="row col-md-12 center-block">
  <h2>Residuos do <%=@laboratory.name%></h2>
</div>
<div class="row col-md-12 center-block">
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-6 pull-right" style="padding-top: 8px">
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
          aria-valuenow="<%= @collect.total_weight_percent %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= @collect.total_weight_percent %>%">
            <%= @collect.total_weight %> kg/ 7000.0 kg
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row col-md-12 center-block">
  <div class="well">
    <div class="table-responsive">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th><%= t('content.sediments.index.composition')%></th>
            <th><%= t('content.sediments.index.weight')%></th>
            <th><%= t('content.sediments.index.res_type')%></th>
            <th><%= t('content.sediments.index.recipient_type')%></th>
            <th><%= t('content.sediments.index.stock_location')%></th>
            <th><%= t('content.sediments.index.volume')%></th>
            <th><%= t('content.sediments.index.local')%></th>
            <th><%=t('content.laboratories.index.user')%></th>
            <th><%= t('content.sediments.index.date_registered')%></th>
            <th><%= 'Estado'%></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sediments.each do |sediment| %>
            <tr>
              <td> <%=sediment.composition%> </td>
              <td> <%=sediment.weight%> </td>
              <td> <%=sediment.res_type%> </td>
              <td> <%=sediment.recipient_type%> </td>
              <td> <%=sediment.stock_location%> </td>
              <td> <%=sediment.volume%> </td>
              <td> <%=sediment.laboratory.name%> </td>
              <td> <%=sediment.laboratory.user.name%> </td>
              <td> <%=sediment.data_registered.strftime('%d/%m/%Y')%> </td>
              <td> <%= sediment.sediments_collect.blank? ? 'Não coletado' : 'Coletado'%> </td>
              <td>
                <%= link_to edit_sediment_path(sediment) do %>
                  <span class="glyphicon glyphicon-pencil"/>
                <% end %>
                <%= link_to sediment, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"/>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <% unless current_user.admin? %>
          <%= button_to 'Cadastrar resíduo', new_sediment_path, method: :get, class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <% if current_user.admin? %>
          <%= button_to 'Gerar manifesto', laboratory_sediments_collects_path(@laboratory), method: :post, data: { confirm: 'Será gerado um manifesto com todos os residuos que não foram coletados e estes residuos serão coletados. Você tem certeza?' }, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

