<p id="notice"><%= notice %></p>

<h1>Sediments</h1>

<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>
      <th class="label-info">Composition</th>
      <th class="label-info ">Weight</th>
      <th class="label-info">Type</th>
      <th class="label-info">Local</th>
      <th class="label-info">Data created</th>
      <th class="label-info">Data registered</th>
    </tr>
  </thead>

  <tbody class="table-bordered">
    <% @sediments.each do |sediment| %>
      <tr>
        <td class="text-capitalize h4"><%= sediment.composition %></td>
        <td class="text-capitalize h4"><%= sediment.weight %></td>
        <td class="text-capitalize h4"><%= sediment.res_type %></td>
        <td class="text-capitalize h4"><%= sediment.laboratory.name %></td>
        <td class="text-capitalize h4"><%= sediment.data_created %></td>
        <td class="text-capitalize h4"><%= sediment.data_registered %></td>
        <td><%= link_to 'Show', sediment, :class => "btn btn-default btn" %></td>
        <td><%= link_to 'Edit', edit_sediment_path(sediment), :class => "btn btn-default btn" %></td>
        <td><%= link_to 'Destroy', sediment, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sediment', new_sediment_path , :class => "btn btn-default btn-lg"%>
