<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('content.sediments.index.composition')%>:</strong>
  <%= @sediment.composition %>
</p>

<p>
  <strong><%= t('content.sediments.index.weight')%>:</strong>
  <%= @sediment.weight %>
</p>

<p>
  <strong><%= t('content.sediments.index.local')%>:</strong>
  <%= @sediment.local %>
</p>

<p>
  <strong><%= t('content.sediments.index.data')%>:</strong>
  <%= @sediment.data_registered %>
</p>

<%= link_to 'Edit', edit_sediment_path(@sediment) %> |
<%= link_to 'Back', sediments_path %>
