<!DOCTYPE html>
<html>
  <head>
    <title>GestaoResiduosUFPE</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="main-body">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag('brand', class: 'brand-nav') %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsed">
          <!-- Parte da Esquerda -->
          <ul class="nav navbar-nav">
            <li><a href="#">Membros <span class="sr-only">(current)</span></a></li>
          </ul>
          <!-- Parte da direita -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conta <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li style="color: blue;"> <%= link_to 'Sair', destroy_user_session_url %> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="alert alert-warning" role="alert" style="display: <%= notice ? 'block' : 'none' %>">
      <%= notice %>
    </div>
    <%= yield %>
  </body>
</html>
