<!DOCTYPE html>
<html>
  <head>
    <title>GestaoResiduosUFPE</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="main-body">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class:'navbar-brand' do %>
            <%= image_tag('brand', class: 'brand-nav') %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsed">
          <!-- Parte da Esquerda -->
          <ul class="nav navbar-nav">
            <li> <%= link_to 'Sistema de Gerenciamento de Resíduos', root_path %> </li>
          </ul>
          <!-- Parte da direita -->
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gerenciar <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <%= link_to 'Centros', centers_url %> </li>
                  <li> <%= link_to 'Departamentos', departments_url %> </li>
                  <li> <%= link_to 'Laboratórios', laboratories_url %> </li>
                  <li> <%= link_to 'Usuários', list_url %> </li>
                </ul>
              </li>
            <% end %>
            <li> <%= link_to 'Sair', destroy_user_session_url %> </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="alert alert-warning" role="alert" style="display: <%= notice ? 'block' : 'none' %>">
      <%= notice %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer id="myFooter" class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h5>Manuais de Resíduos</h5>
            <ul>
              <li><a href="#">Coleta de vidros</a></li>
              <li><a href="#">Resíduos químicos</a></li>
              <li><a href="#">Resíduos infectantes</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5>Informações úteis</h5>
            <ul>
              <li><a href="#">Rótulos de produtos químicos</a></li>
              <li><a href="#">Guia de gerenciamento de resídos químicos</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h5>Campanhas</h5>
            <ul>
              <li><a href="#">Troca solidária de produtos químicos</a></li>
            </ul>
          </div>
          <div class="col-sm-3 info">
            <h5>Informações e suporte</h5>
            <p> Em caso de dúvidas ou dificuldades com o sistema, entre em contato
            com a DGA pelo número 2126-8076 ou pelo email gpaa.dga@gmail.com.</p>
          </div>
        </div>
      </div>

    </footer>

  </body>
</html>
